/* Global */
.main{
    height: 100vh;
}



/* Plateau */
.plateau{
    border:red solid 1px;
}
.plateau .plateau--case{
    height:50px;
    width:50px;
}
.plateau .plateau--case.plateau--case__possible{
    box-shadow: inset 0px 0px 20px 3px rgb(71, 109, 211);
    cursor:pointer;
}
.plateau .plateau--case.plateau--case__blanche{
    background-color: rgb(240, 211, 182);
}
.plateau .plateau--case.plateau--case__noire{
    background-color: #7F4810;
}



/* Pions */
.pion{
    cursor:pointer;
    transition: all .2s;
}
.pion.pion__select{
    filter: drop-shadow(  0px 0px 5px rgba(247,8,32,1));
}
.pion.pion__blanc{
    fill:white;
}
.pion.pion__noir{
    fill:black;
}
.pion.pion__reine{
    stroke-width: 10;
    stroke:green;
}