/* Global */
body {
  background-color: rgb(206, 185, 165);
}

#main,
#main2 {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Plateau */
.plateau {
  border: #55310d solid 1vmin;
  border-radius: 5px;
  border-spacing:0px;
}

.plateau--case {
  height: 9vmin;
  width: 9vmin;
  border-radius: 1px;
}

.plateau .plateau--case.plateau--case__possible {
  box-shadow: inset 0px 0px 20px 3px rgb(71, 109, 211);
  cursor: pointer;
}
.plateau .plateau--case.plateau--case__blanche {
  background-color: rgb(240, 211, 182);
}
.plateau .plateau--case.plateau--case__noire {
  background-color: #7f4810;
}

/* Pions */
.pion {
  cursor: pointer;
  transition: all 0.2s;
}
.pion.pion__select {
  filter: drop-shadow(0px 0px 5px rgb(235, 251, 0));
}
.pion.pion__blanc {
  fill: white;
}
.pion.pion__noir {
  fill: black;
}
.pion.pion__reine {
  stroke-width: 10;
  stroke: green;
}
.pion.pion__mangeable {
  filter: drop-shadow(0px 0px 5px rgba(247, 8, 32, 1));
}


/* Formulaire de connexion et écran d'attente d'adversaire */
#popup-fond {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(127, 72, 16, 0.7);
  }

.popup-conteneur {
    position: relative;
    margin:auto;
    margin-top: 5vw;
    padding: 20px;
    background: rgb(240, 211, 182);
    border-radius: 5px;
    width: 70vw;
    text-align: center;
    
}

.popup-conteneur * {
    border: none;
    border-radius:3px;
    font-weight: bold;
    color: #333;
    display:block;
    margin:auto;
    padding:0.5vw;
    font-family: Tahoma, Arial, sans-serif;
}

#submitBtn {
    font-size: 0.8em;
    border:solid 2px rgba(127, 72, 16, 0.7);
    margin-top: 1vw;
    min-width: 35px;
    min-height: 35px;
    width:5vmin;
    height:5vmin;
}





